/* Empty. Add your own CSS if you like */

ul.img-list {
    list-style-type: none;
    padding: 0;
}

ul.img-list li {
    display: inline-block;
    position: relative;
    height: 350px;
}


.main {
    margin-top:30px;
}

.location-holder {
       position:relative;
    width:100px;
    height:100px;
    text-align:center;    
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
 border: 2px solid #000000;
}



.location-holder:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.location-holder p
{
    margin-top:15px;
    font:italic 25px Georgia;
    color:#000000;
    vertical-align:middle;
    height:50px; 
    position: inherit;
    top:15%;        
}
.verticalLine {
    border-left: thick solid #000000;
    height:100px;
    margin-left:50px;
}