
ul.img-list {
    list-style-type: none;
    padding-bottom:2.5px;
}

ul.img-list li {
    display: inline-block;
    position: relative;
}


.main {
    margin-top:50px;
    margin-bottom:50px !important;
}

.location-holder {
       position:relative;
    width:80px;
    height:80px;
    text-align:center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
 border: 2px solid #000000;
 padding:5px;
 display: inline-block;
}

.display-name {
    display: inline-block;
}



 .row {
padding:0px;
 }
 .col {
   padding:0px !important;
 }

.location-holder:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.location-holder p
{
    margin-top:10px;
    font: 18px arial;
    color:#000000;
    vertical-align:middle;
    height:50px;
    position: inherit;
    top:15%;
}
.verticalLine {
    border-left: thick solid #000000;
    height:150px;
    margin-left:38px;
}

.verticalLineMap {
  width:100px;
  height:100px;
}

.map-container {
  height:150px;
  width:150px;
}

#map-canvas { height: 100%; margin: 0; padding: 0;}

.date {
  font-size:18px;
  text-align:center;
}
